{% extends 'base.html' %}

{% block content %}
    <h1>{{ book.title }}</h1>
    <img src="/{{ book.cover }}" style="width: 300px;" alt="">
    <p>Author: {{ book.author }}</p>
    <p>Genre: {{ book.year }}</p>
    <p>Description: {{ book.details }}</p>
     <!-- Reviews -->
     <div class="reviews">
        <h2>Reviews</h2>
        {% for review in reviews %}
        <div class="review">
            <p>rating: {{review.rating}}</p>
            <strong>{{ review.user.username }}</strong>: {{ review.review_text }}
            <hr>
        </div>
        {% endfor %}
    </div>
        
        <!-- Review Form -->
        <div class="review-form">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="submit-btn">Submit Review</button>
            </form>
        </div>

       

{% endblock %}