{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="hero-section">
    <h1>Welcome {{user.username}}</h1>
    <p>Your go-to place for book reviews and recommendations</p>
    <!-- Will do -->
    <!-- <h2>Favorite Books</h2>
    <form method="post">
        {% csrf_token %}
        {{ favorite_books_form.as_p }}
        <button type="submit" name="favorite_books_form">Update Favorite Books</button>
    </form>
    <h2>Recent Reads</h2>
    <form method="post">
        {% csrf_token %}
        {{ recent_reads_form.as_p }}
        <button type="submit" name="recent_reads_form">Update Recent Reads</button>
    </form> -->

    <h3>Current Favorites:</h3>
    <ul>
        {% for book in favorite_books %}
            <li>{{ book.title }}</li>
        {% empty %}
            <li>No favorite books selected yet.</li>
        {% endfor %}
    </ul>

    <h3>Recent Reads:</h3>
    <ul>
        {% for book in recent_reads %}
            <li>{{ book.title }}</li>
        {% empty %}
            <li>No recent reads recorded yet.</li>
        {% endfor %}
    </ul>
</div>

{% else %}
<div class="hero-section">
    <h1>Welcome to BookFlick</h1>
    <p>Your go-to place for book reviews and recommendations</p>
</div>
{% endif %}

<div class="books-container">
    {% for object in object_list %}
    <div class="book-item">
      <div class="book-cover">
        <img src="{{ object.cover }}" alt="{{ object.title }}" class="cover-image">
    </div>
        <div class="book-info">
            <h3>{{ object.title }}</h3>
            <p>{{ object.details }}</p>
            <a href="{% url 'book_details' object.id %}" class="review-link">Review</a>
        </div>
        
    </div>
    {% empty %}
    <p>No Books yet.</p>
    {% endfor %}
</div>
{% endblock %}
